<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Insert title here</title>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script src="/script/dateFormat.js"></script>
<script src="/script/validation.js"></script>
</head>
<body>

<div>
  <input id="dateStr" name="dateStr" />
  <input id="format" name="format"/>
  <input id="format2" name="format2"/>
  <input type="button" id="btn_format" name="btn_format"/>
  <span id="df"></span>
</div>

<script>
  var df = new DateFormat();
  var valid = new Validation();

  $("#btn_format").on("click", function(){
	  valid.restValid();
	  
	  let dateStr = $("#dateStr").val();
	  if (dateStr == ""){
		  valid.isFalse("dateStr", "test");
	  }
	  let format = $("#format").val();
	  if (format == ""){
		  valid.isFalse("format", "test1");
	  }
	  let format2 = $("#format2").val();
	  if (format2 == ""){
		  valid.isFalse("format2", "test2");
	  }
	  
	  if (valid.status){
		  valid.showMessage();
		  return;
	  }
	  
	  $("#df").text(df.toWestToTwDate(dateStr, format, format2, true));
  });

</script>

</body>
</html>