<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Insert title here</title>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script src="/script/dateFormat.js"></script>
<script src="/script/validation.js"></script>
<script src="/script/addItem.js"></script>
</head>
<body>

<div>
  <input id="dateStr" name="dateStr" />
  <input id="format" name="format"/>
  <input id="format2" name="format2"/>
  <input type="button" id="btn_format" name="btn_format"/>
  <span id="df"></span>
  <span id="df1"></span>
</div>

<script>
  var df = new DateFormat();
  var valid = new Validation();
  valid.initObj();
  
  var addItem = new AddItem();
  
  addItem.InputCheckboxItem('df', 'df_radio', false);

  $("#btn_format").on("click", function(){
	  valid.restValid();
	  
	  valid.require("dateStr", "日期");
	  valid.checkWestDate("dateStr", "日期", "yyyy/MM/dd");
	  
	  valid.require("format", "解析格式");
	  valid.require("format2", "日期格式");
	  
	  if (valid.status()){
		  valid.showMessage();
		  return;
	  }
	  
	  let dateStr = $("#dateStr").val();
	  let format = $("#format").val();
	  let format2 = $("#format2").val();

	  $("#df1").text(df.toWestToTwDate(dateStr, format, format2, true));
  });
 
</script>

</body>
</html>