<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>簡單測試</title>
</head>
 
<body>
  <table border="1" style="width:100%;">
    <tr>
      <td>網址</td>
      <td><input type="text" id="host" name="host" value="http://localhost:8080/"/></td>
      <td>功能</td>
      <td>
        <select id="systemId" name="systemId">
          <option value="">請選擇</option>
          <option value="bj">BJ</option>
          <option value="cpa">CPA</option>
          <option value="na">NA</option>
          <option value="pm">PM</option>
        </select>
      </td>
      <td>保險證號</td>
      <td><input type="text" id="uno" name="uno" value="01999999X"/></td>
    </tr>
    <tr>
      <td>身分證號</td>
      <td><input type="text" id="idn" name="idn" value="A123456789"/></td>
      <td>出生日期</td>
      <td><input type="text" id="birth" name="birth" value="19110101"/></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><button id="btnTicketNo">取得ticketNo</button></td>
      <td>ticketNo</td>
      <td colspan="4"><div id="div_ticketNo"></div></td>
    </tr>
    <tr>
      <td><button id="btnBase64encode">base64編碼</button></td>
      <td>編碼字串</td>
      <td colspan="4"><div id="div_encode64"></div></td>
    </tr>
    <tr>
      <td><button id="btnBase64decode">base64解碼</button></td>
      <td>解碼字串</td>
      <td colspan="4"><div id="div_decode64"></div></td>
    </tr>
  </table>
  <hr>
  <table border="1" style="width:100%;">
    <tr>
      <td>網址</td>
      <td><input type="text" id="sendHost" name="sendHost" value="http://localhost:8080/" style="width:90%;"/></td>
      <td>METHOD</td>
      <td>
        <select id="methodType" name="methodType">
          <option value="">請選擇</option>
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>ticketNo</td>
      <td><input type="text" id="sendTicketNo" name="sendTicketNo" style="width:90%;"/></td>
      <td>功能</td>
      <td>
        <select id="sendSystemId" name="sendSystemId">
          <option value="">請選擇</option>
          <option value="bj">BJ</option>
          <option value="cpa">CPA</option>
          <option value="na">NA</option>
          <option value="pm">PM</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>REQUEST DATA</td>
      <td colspan="3"><textarea id="requestData" name="requestData" rows="20" cols="100"></textarea></td>
    </tr>
    <tr>
      <td>RESPONSE DATA</td>
      <td colspan="3"><textarea id="responseData" name="responseData" rows="20" cols="100"></textarea></td>
    </tr>
    <tr>
      <td colspan="4"><button id="btnSend">傳送</button></td>
    </tr>
  </table>
</body>
<script src="/script/base64.js"></script>
<script>
  
  let btnTicketNo = document.getElementById("btnTicketNo");
  let btnBase64encode = document.getElementById("btnBase64encode");
  let btnBase64decode = document.getElementById("btnBase64decode");
  let btnSend = document.getElementById("btnSend");
  
  btnTicketNo.addEventListener("click", function(){
    
  });
  
  btnBase64encode.addEventListener("click", function(){
    let systemId = document.getElementById("systemId").value;
    let idn = document.getElementById("idn").value;
    let birth = document.getElementById("birth").value;
    let uno = document.getElementById("uno").value;
    
    let d = new Date();
    
    let zy = d.getFullYear();
    let zm = ( "0" + ( d.getMonth() + 1 ) ).slice( -2 );
    let zd = ( "0" + d.getDate() ).slice( -2 );
    let zh = ( "0" + d.getHours()).slice( -2 );
    let zi = ( "0" + d.getMinutes()).slice( -2 );
    let zs = ( "0" + d.getSeconds()).slice( -2 );
    let zl = d.getMilliseconds();
    
    let loginTime = zy+zm+zd+zh+zi+zs+zl;
    
    let code = Base64.encode(systemId+":"+idn+":"+birth+":"+uno+":"+loginTime);
    
    let divEncode64 = document.getElementById("div_encode64");
    divEncode64.innerHTML = code;
  });
  
  btnBase64decode.addEventListener("click", function(){
    let divEncode64 = document.getElementById("div_encode64");
    let divDecode64 = document.getElementById("div_decode64");
    
    let code = Base64.decode(divEncode64.innerHTML);
    
    divDecode64.innerHTML = code;
  });
  
  btnSend.addEventListener("click", function(){
    let sendHost = document.getElementById("sendHost").value;
    let methodType = document.getElementById("methodType").value;
    let sendTicketNo = document.getElementById("sendTicketNo").value;
    let sendSystemId = document.getElementById("sendSystemId").value;
    let requestData = document.getElementById("requestData").value;
    let responseData = document.getElementById("responseData");
  
    let getURLOrigin = new URL(sendHost);
    console.log(getURLOrigin.protocol+"//"+getURLOrigin.hostname+"/"+sendSystemId);
  
    if ("GET" != methodType){
      fetch(sendHost, {
          method: methodType,
          body: requestData, 
          headers: {
            'Content-Type': 'text/plain',
            'X-Authorization': sendTicketNo,
          },
        }
      ).then(function(response){
        return response.json();
      }).catch(function(error){
        console.log(error);
      }).then(function(data){
    	console.log("data=="+JSON.stringify(data));
        responseData.value = JSON.stringify(data);
      });
    } else {
      fetch(sendHost, {
          method: methodType,
          headers: {
            'Content-Type': 'text/plain',
            'X-Authorization': sendTicketNo,
          },
        }
      ).then(function(response){
        return response.json();
      }).catch(function(error){
        console.log(error);
      }).then(function(data){
    	console.log("data=="+JSON.stringify(data));
        responseData.value = JSON.stringify(data);
      });
    }
  });

</script>
</html>
